@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

body{
    background: #000000;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    /*background: slateblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
    
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color:#7cf03d
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color:#fff;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}

.home-info h2 span{
    position: relative;
    display: inline-block;
    color:transparent;
    -webkit-text-stroke:.1px #000000;
    animation: display-text 12s linear infinite;
    animation-delay: calc(-3s * var(--i));

}

@keyframes display-text{
    25%,
    100%{
        display: none;
    }
}


.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width:100%;
    }
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}


.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display:inline-flex ;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;

}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}


.service .heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
}

.service .heading span{
    color: #7cf03d;
}

.service .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}

.service .services-container .services-box{
    padding:3rem 2.5rem;
    background: #737373;
    border: .2rem solid #ffffff;
    border-radius:1rem;
}

.services-container .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-container .icon i{
    font-size: 4.5rem;
}